* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2f2e2b;
  font-family: Arial, sans-serif;
  color: white;
}

.app {
  display: flex;
  height: 100vh;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 75px;
  height: 100%;
  background-color: #262522;
  padding: 20px;
  display: none;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
}

.navbar .nav-logo {
  font-size: 36px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor:pointer
}

.sidebar {
  width: 220px;
  background-color: #262522;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar .logo {
  font-size: 36px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 20px;
  cursor:pointer
}

.sidebar #navButton {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar button {
  background: none;
  border: none;
  color: white;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  font-weight: bolder;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar button:hover {
  background-color: #3a3936;
}

.emoji{
  font-size: 28px;
  margin-right: 10px;
}
.board-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

#black-timer,
#white-timer {
  width: 120px;
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  background-color: #1f1e1c;
  color: #ffffff;
  box-shadow: inset 0 0 0 1px #3a3936;
  user-select: none;
}

.timer-active {
  background-color: #7fa650;
  color: #000;
}

.right-panel {
  width: 400px;
  background-color: #262522;
  
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 15px 10px 15px 10px;
}

.choose-game{
  display: none;
  flex-direction: column;
  gap: 10px;
}

.choose-game-head{
  text-align: center;
  width: 100%;
  background-color: #21201d;
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10%;
  margin-bottom: 20px;
}


.to-play {
  background-color: #3a3936;
  border: none;
  color: white;
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 25px 0 25px;
  padding: 20px;
}

.to-play:hover {
  background-color: #4a4946;
  background: linear-gradient(0deg, #363633, #696869);
}

.choose-game-type{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-start{
  display: none;
  flex-direction: column;
  height: 100%;
}

.start-btn {
  background-color: #7fa650;
  border: none;
  padding: 15px;
  font-size: 18px;
  color: white;
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  cursor: pointer;
  margin: 10px 20px 0 20px;
  border-radius: 12px;
}

.start-btn:hover {
  background-color: #8fbf5f;
  background: linear-gradient(0deg, #7fa650, #8fbf5f);
}

.options button {
  background-color: #3a3936;
  border: none;
  color: white;
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.options button:hover {
  background-color: #4a4946;
}

.moves {
  margin-top: auto;
}

.moves-list {
  background-color: #1f1e1c;
  height: 200px;
  border-radius: 5px;
  padding: 10px;
  overflow-y: auto;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

